body {
  font-family: 'Consolas';
  /* font-family: 'Trebuchet MS', sans-serif; */
}

p {
  margin-left: 50px;
  margin-right: 50px
}

h2 {
  margin-left: 20px;
}

.pic-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.info-block {
  margin-left: 50px;
  margin-right: 50px;
}